.heading {
    padding: 5px;
    background-color: #4A2E7E;
    text-align: right;
    color: white;
    font-size: 30px;
    height: 77px;
    padding-top: 0px;
    padding-right: 0px;
}

.header-font {
    width: 100px;
    float: right;
    padding: 0px 17px;
}

.header-font:hover {
    cursor: pointer;
}

.icon {
    margin-right: 10px;
    padding: 0px;
}

.logout {
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    color: white;
}

