<!-- 
	Navigation drawer using angular 4 animation
	@author Shashank Tiwari 
-->
<div class="page container">
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>

<div class="navigation">
  <div class="drawer-logo">
    <img src="../assets/image/logo.png" class="logo">
    <div class="text-center">Welcome Admin</div>
  </div>
  <ul>
    <li (click)="list('userlist')" [ngClass]="user">
      <!-- <li (click)="userlist()" [ngClass]='getclass()'> -->
      <i class="fa fa-users m10"></i>Users</li>
    <li (click)="list('resturanttoken')" [ngClass]="rtoken">
      <i class="fa fa-connectdevelop m10"></i>Restaurant Token</li>
    <li (click)="list('resturantcategory')">
      <i class="fa fa-exchange m10"></i> Restaurant Category</li>
    <li>
      <i class="fa fa-align-left m10"></i> Matched Restaurant</li>
    <li (click)="list('allwallpaper')" [ngClass]="allwallpaper">
      <i class="fa fa-image m10"></i>All Wallpaper</li>
      <li (click)="list('subcategory')" [ngClass]="subcategory">
          <i class="fa fa-image m10"></i>Sub Category</li>
    <li>
      <i class="fa fa-cogs m10"></i> Settings</li>
  </ul>
</div>
